.conteudo-centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff; 
    padding: 20px;
    box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
  }
  
  .area-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  button {
    margin-top:20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border:none;
    border-radius: 5px;
    margin-top: 15px;
    background: #0AC5D4;
    box-shadow: 0px 3px 6px rgba(119, 119, 119, .1);
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
  }